@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Moon+Dance&display=swap");

.item-a {
  grid-area: dropdown;
  font-family: "Josefin Sans", sans-serif;
  color: aliceblue;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
}

option {
  font-family: "Josefin Sans", sans-serif;
  background-color: rgb(236, 236, 236);
}

option:hover {
  background-color: #4caf9e;
}

.item-b {
  display: grid;
  grid-area: builder;
}

.item-c {
  grid-area: text-Field;
  width: 800px;
  max-width: 100%;
}

.item-d {
  grid-area: logo;
}

input {
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
}

#main-Grid {
  display: grid;
  grid-template-columns: 25% 46% 9%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "logo text-Field ."
    "dropdown builder .";
  grid-gap: 10px;
}

#img1 {
  z-index: 7;
  max-width: 800px;
  width: 100%;
  grid-area: 1 / 1 / 1 / 1;
  border: 3px solid aquamarine;
  border-radius: 3px;
}

#img2 {
  z-index: 6;
  max-width: 800px;
  width: 100%;
  grid-area: 1 / 1 / 1 / 1;
  border: 3px solid aquamarine;
  border-radius: 3px;
}

#img3 {
  z-index: 5;
  max-width: 800px;
  width: 100%;
  grid-area: 1 / 1 / 1 / 1;
  border: 3px solid aquamarine;
  border-radius: 3px;
}

#img4 {
  z-index: 4;
  max-width: 800px;
  width: 100%;
  grid-area: 1 / 1 / 1 / 1;
  border: 3px solid aquamarine;
  border-radius: 3px;
}

#img5 {
  z-index: 3;
  max-width: 800px;
  width: 100%;
  grid-area: 1 / 1 / 1 / 1;
  border: 3px solid aquamarine;
  border-radius: 3px;
}

#img7 {
  z-index: 2;
  max-width: 800px;
  width: 100%;
  grid-area: 1 / 1 / 1 / 1;
  border: 3px solid aquamarine;
  border-radius: 3px;
}

#img6 {
  z-index: 1;
  max-width: 800px;
  width: 100%;
  grid-area: 1 / 1 / 1 / 1;
  border: 3px solid aquamarine;
  border-radius: 3px;
}

#my-collection {
  margin-left: 10px;
}

.builder-buttons {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

button:active {
  background-color: tomato;
  box-shadow: 0 2px rgb(109, 32, 18);
  transform: translateY(4px);
}

#save-avatar {
  width: 130px;
  flex: auto;
  margin-right: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 7px;
}

#save-avatar:hover {
  background-color: tomato;
}

#clear-selections {
  width: 130px;
  flex: auto;
  margin-right: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 7px;
}

#clear-selections:hover {
  background-color: tomato;
}

#random-avatar {
  width: 130px;
  flex: auto;
  margin-right: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 7px;
}

#random-avatar:hover {
  background-color: tomato;
}

#my-gourds {
  width: 130px;
  flex: auto;
  margin-right: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 7px;
}

#my-gourds:hover {
  background-color: tomato;
}

/* background art styles below this comment */
.page-background,
body {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 1;
  object-fit: cover;
  background-size: cover;
  background-color: #061713;
  background-repeat: no-repeat;
  background-image: url(https://res.cloudinary.com/dvdug0mzg/image/upload/v1647889012/Assets/BG_Darkened_zyjhjt.png) !important;
}

#builder-logo {
  width: 85%;
  margin-bottom: 100px;
}
