@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Moon+Dance&display=swap");

.item-a {
  grid-area: dropdown;
  font-family: "Josefin Sans", sans-serif;
  color: aliceblue;
  text-align: center;
}

option {
  font-family: "Josefin Sans", sans-serif;
  background-color: rgb(236, 236, 236);
}

option:hover {
  background-color: #4caf9e;
}

.item-b {
  display: grid;
  grid-area: builder;
}

.item-c {
  grid-area: text-Field;
  width: 830px;
  max-width: 100%;
  margin-top: 20px;
}

.item-d {
  grid-area: logo;
  margin-top: 10px;
}

.item-e {
  grid-area: info;
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  color: aquamarine;
  flex-direction: column;
  max-height: 94%;
  margin-top: 30%;
  width: 88%;
}

#info-header {
  margin-top: 20px;
  text-align: center;
}

#info-text {
  margin: 12px;
  font-size: large;
  text-align: center;
}

input {
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
}

#main-Grid {
  display: grid;
  grid-template-columns: 25% 46% 27%;
  grid-template-rows: 10% 85%;
  grid-template-areas:
    "logo text-Field ."
    "dropdown builder info";
  grid-gap: 10px;
}

#img1 {
  z-index: 7;
  max-width: 800px;
  width: 100%;
  grid-area: 1 / 1 / 1 / 1;
  border: 3px solid aquamarine;
  border-radius: 3px;
}

#img2 {
  z-index: 6;
  max-width: 800px;
  width: 100%;
  grid-area: 1 / 1 / 1 / 1;
  border: 3px solid aquamarine;
  border-radius: 3px;
}

#img3 {
  z-index: 5;
  max-width: 800px;
  width: 100%;
  grid-area: 1 / 1 / 1 / 1;
  border: 3px solid aquamarine;
  border-radius: 3px;
}

#img4 {
  z-index: 4;
  max-width: 800px;
  width: 100%;
  grid-area: 1 / 1 / 1 / 1;
  border: 3px solid aquamarine;
  border-radius: 3px;
}

#img5 {
  z-index: 3;
  max-width: 800px;
  width: 100%;
  grid-area: 1 / 1 / 1 / 1;
  border: 3px solid aquamarine;
  border-radius: 3px;
}

#img7 {
  z-index: 2;
  max-width: 800px;
  width: 100%;
  grid-area: 1 / 1 / 1 / 1;
  border: 3px solid aquamarine;
  border-radius: 3px;
}

#img6 {
  z-index: 1;
  max-width: 800px;
  width: 100%;
  grid-area: 1 / 1 / 1 / 1;
  border: 3px solid aquamarine;
  border-radius: 3px;
}

.builder-buttons {
  margin-top: 20px;
  margin-left: 10px;
  align-content: center;
}

button:active {
  background-color: tomato;
  box-shadow: 0 2px rgb(109, 32, 18);
  transform: translateY(4px);
}

#save-avatar {
  height: 35px;
  width: 80px;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 7px;
  font-family: "Josefin Sans", sans-serif;
}

#save-avatar:hover {
  background-color: tomato;
}

#clear-selections {
  height: 35px;
  width: 80px;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 7px;
  font-family: "Josefin Sans", sans-serif;
}

#clear-selections:hover {
  background-color: tomato;
}

#my-gourds {
  height: 35px;
  width: 80px;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 7px;
  font-family: "Josefin Sans", sans-serif;
}

#random-avatar:hover {
  background-color: tomato;
}

#random-avatar {
  max-height: 100px;
  width: 130px;
  flex: auto;
  align-self: center;
  margin-top: 20px;
  border: none;
  border-radius: 7px;
  font-family: "Josefin Sans", sans-seri;
  font-size: larger;
}

#my-gourds:hover {
  background-color: tomato;
}

/* background art styles below this comment */
.page-background,
body {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 1;
  object-fit: cover;
  background-size: cover;
  background-color: #061713;
  background-repeat: no-repeat;
  background-image: url(https://res.cloudinary.com/dvdug0mzg/image/upload/v1647889012/Assets/BG_Darkened_zyjhjt.png) !important;
}

#builder-logo {
  width: 70%;
  margin-bottom: 10%;
  margin-left: 13%;
}

.dialog-builder {
  height: 100px;
  border-color: aquamarine;
  border-radius: 10px;
  background-color: aquamarine;
  font-family: "Josefin Sans", sans-seri;
  color: black;
}

#dialog-text {
  align-self: center;
}

.button--close {
  margin-left: 38%;
  font-family: "Josefin Sans", sans-seri;
  width: 100px;
  height: 30px;
  font-size: large;
}
