.item-a {
    grid-area: dropdown;
    margin-left: 20px;
}

.item-b {
    display: grid;
    grid-area: builder; 
}

.item-c {
    grid-area: text-Field;
    width: 800px;
}



#main-Grid {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    ". text-Field"
    "dropdown builder";
}




#img1 {
    z-index: 6;
    max-width: 800px;
    grid-area: 1 / 1 / 1 / 1;
    
}

#img2 {
    z-index: 5;
    max-width: 800px;
    grid-area: 1 / 1 / 1 / 1;
}

#img3 {
    z-index: 4;
    max-width: 800px;
    grid-area: 1 / 1 / 1 / 1;
}

#img4 {
    z-index: 3;
    max-width: 800px;
    grid-area: 1 / 1 / 1 / 1;
}

#img5 {
    z-index: 2;
    max-width: 800px;
    grid-area: 1 / 1 / 1 / 1;
}

#img6 {
    z-index: 1;
    max-width: 800px;
    grid-area: 1 / 1 / 1 / 1;
}

#my-collection {
    margin-left: 10px;
}