@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Moon+Dance&display=swap");

.pageGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.image-grid {
  display: grid;
}

.image-grid:hover {
  background-color: rgb(147, 173, 164);
  border-radius: 3px;
  transition: ease 0.3s;
}

#hatImg {
  z-index: 7;
  max-width: 300px;
  grid-area: 1 / 1 / 1 / 1;
  margin: 7px;
  overflow: hidden;
  border: 1px solid aquamarine;
  border-radius: 3px;
}

#eyeImg {
  z-index: 6;
  max-width: 300px;
  grid-area: 1 / 1 / 1 / 1;
  margin: 7px;
  border: 1px solid aquamarine;
  border-radius: 3px;
}

#mouthImg {
  z-index: 5;
  max-width: 300px;
  grid-area: 1 / 1 / 1 / 1;
  margin: 7px;
  border: 1px solid aquamarine;
  border-radius: 3px;
}

#shirtImg {
  z-index: 4;
  max-width: 300px;
  grid-area: 1 / 1 / 1 / 1;
  margin: 7px;
  border: 1px solid aquamarine;
  border-radius: 3px;
}

#bodyImg {
  z-index: 3;
  max-width: 300px;
  grid-area: 1 / 1 / 1 / 1;
  margin: 7px;
  border: 1px solid aquamarine;
  border-radius: 3px;
}

#accessoryImg {
  z-index: 2;
  max-width: 300px;
  grid-area: 1 / 1 / 1 / 1;
  margin: 7px;
  border: 1px solid aquamarine;
  border-radius: 3px;
}

#backgroundImg {
  z-index: 1;
  max-width: 300px;
  grid-area: 1 / 1 / 1 / 1;
  margin: 7px;
  border: 1px solid aquamarine;
  border-radius: 3px;
}

#avatarName {
  font-size: large;
  color: aquamarine;
  margin-left: 10px;
}

.delete-buttons {
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.edit-avatars {
  width: 100px;
}

#header {
  font-family: "Josefin Sans", sans-serif;
  color: aquamarine;
  display: flex;
  justify-content: center;
  margin-bottom: 20px !important;
}

.header-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 30%;
  justify-content: center;
}

.avatar-builder {
  width: 100px;
}

.logout {
  margin-left: 20px;
  width: 100px;
}

#collection-logo {
  margin-left: 15px;
  display: flex;
  width: 30%;
  max-width: 250px;
}

.top-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.logo-header-buttons {
  display: flex;
}
