/* .pageGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-grid {
    display: grid;
}
img {
    max-width: 50%;
    grid-area: 1 / 1 / 1 / 1;
    margin: 20px;
}

#hatImg {
    z-index: 6;
    max-width: 300px;
}

#eyeImg {
    z-index: 5;
    max-width: 300px;
}

#mouthImg {
    z-index: 4;
    max-width: 300px;
}

#shirtImg {
    z-index: 3;
    max-width: 300px;
}

#bodyImg {
    z-index: 2;
    max-width: 300px;
}

#backgroundImg {
    z-index: 1;
    max-width: 300px;
}

#avatarName {
    margin-left: 20px;
}

button {
    width: 100px;
    margin-left: 20px;
    
}
 */
